{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<body>
    <div class="container2">
      <div class="row">
        <div class="wrapper">
            {% include "sidebar.html" %}
            <div class="content">
                <article class="panel">
                    <p class="panel-heading">
                        <i class="fa fa-table"></i>
                        <strong>Information Gain</strong>
                    </p>
                    <!-- Modal -->
                    <div class="container" id="app">
                        <div id="image-modal" class="modal">
                            <div class="modal-background"></div>
                            <div class="modal-content">
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Bobot Gain tiap Atribut</p>
                                    </header>
                                    <section class="modal-card-body">
                                        <table class="table is-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Atribut</th>
                                                    <th>Gain</th>
                                                </tr>
                                            </thead>
                        
                                            <tbody>
                                                {% for i in range(n2): %}
                                                <tr>
                                                    <td>{{ df2.iloc[i,0] }}</td>
                                                    <td>{{ df2.iloc[i,1] }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <p>Threshold Gain: {{ t }}</p>
                                    </footer>
                                </div>
                            </div>
                            <button id="image-modal-close" class="modal-close"></button>
                        </div>
                        <div class="is-size-5 has-text-weight-medium">
                            Hasil perhitungan Gain tiap atribut:
                            <button class = "button is-info modal-button" id="showModal">Bobot Gain</button>
                        </div>
                    </div>

                    <!-- end Modal-->

                    <br>
                    <div class="table_wrapper">
                        <table id="table_pagination" class="table is-bordered is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Without location</th>
                                    <th>Without description</th>
                                    <th>Without website</th>
                                    <th>Unverified</th>
                                    <th>Followers</th>
                                    <th>Followings</th>
                                    <th>Public member</th>
                                    <th>Likes</th>
                                    <th>Total tweets</th>
                                    <th>Age</th>
                                    <th>Default theme</th>
                                    <th>Source</th>
                                    <th>Tweet's retweets</th>
                                    <th>Tweet's likes</th>
                                    <th>Mentions</th>
                                    <th>Hashtags</th>
                                    <th>Label</th>
                                </tr>
                            </thead>
        
                            <tbody>
                                {% for i in range(n3): %}
                                <tr>
                                    <td>{{ df3.iloc[i,0] }}</td>
                                    <td>{{ df3.iloc[i,1] }}</td>
                                    <td>{{ df3.iloc[i,2] }}</td>
                                    <td>{{ df3.iloc[i,3] }}</td>
                                    <td>{{ df3.iloc[i,4] }}</td>
                                    <td>{{ df3.iloc[i,5] }}</td>
                                    <td>{{ df3.iloc[i,6] }}</td>
                                    <td>{{ df3.iloc[i,7] }}</td>
                                    <td>{{ df3.iloc[i,8] }}</td>
                                    <td>{{ df3.iloc[i,9] }}</td>
                                    <td>{{ df3.iloc[i,10] }}</td>
                                    <td>{{ df3.iloc[i,11] }}</td>
                                    <td>{{ df3.iloc[i,12] }}</td>
                                    <td>{{ df3.iloc[i,13] }}</td>
                                    <td>{{ df3.iloc[i,14] }}</td>
                                    <td>{{ df3.iloc[i,15] }}</td>
                                    <td>{{ df3.iloc[i,16] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </article>
            </div>    
        </div>
      </div>
    </div>
</body>

{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}