{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<body>
    <div class="container2">
      <div class="row">
        <div class="wrapper">
            {% include "sidebar.html" %}
            <div class="content">
                <article class="panel">
                    <p class="panel-heading">
                        <i class="fa fa-table"></i>
                        <strong>Support Vector Machine</strong>
                    </p>
                    <div class="columns">
                        <div class="column">
                            <div class="box" style="background: rgb(178, 224, 255)">
                                <div class="has-text-centered is-size-4 has-text-weight-semibold">
                                    Metode SVM + IG + LDA
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box" style="background: rgb(213, 211, 211)">
                                <div class="has-text-centered is-size-4 has-text-weight-semibold">
                                    Metode SVM
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="box" style="background: rgb(178, 224, 255)">
                                <div class="has-text-centered is-size-4">
                                    Akurasi perhitungan:
                                </div>
                                <div class="has-text-centered is-size-3 has-text-weight-semibold">
                                    {{ hasil }}%
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box" style="background: rgb(213, 211, 211)">
                                <div class="has-text-centered is-size-4">
                                    Akurasi perhitungan:
                                </div>
                                <div class="has-text-centered is-size-3 has-text-weight-semibold">
                                    {{ hasil2 }}%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="box" style="background: rgb(178, 224, 255)">
                                <div class="has-text-centered is-size-4">
                                    Durasi perhitungan: {{ durasi }} detik
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box" style="background: rgb(213, 211, 211)">
                                <div class="has-text-centered is-size-4">
                                    Durasi perhitungan: {{ durasi2 }} detik
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div> 
        </div>
      </div>
    </div>
</body>

{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}